@{
    Layout = null;
    ViewData["Title"] = "Reset Link Sent";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - OrderMgmtRevision</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <style>
        body {
            background: linear-gradient(to bottom right, #000000,#07183D);
        }
    </style>
</head>
<body>
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center py-4 px-4 overflow-auto">
        <div class="text-white mb-3 fs-1 fw-bold">领星 OMS</div>
        <div class="card login-card p-4 shadow-sm w-100" style="max-width: 450px;">
            <h2 class="text-center text-dark">Email Sent</h2>
            <p class="text-center">If the email you entered is registered and confirmed, you'll receive a password reset link shortly.</p>
        </div>
    </div>
</body>
</html>
