@{
    ViewBag.Title = "Dashboard";
    var pieChartData = ViewData["PieChartData"] as dynamic;
    var summaryData = ViewData["SummaryData"] as List<SummaryItem>;

    <script>
            window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light2", // "light2", "dark1", "dark2"
                animationEnabled: true, // change to true
                title:{
                    text: "Shipper Types"
                },
                data: [
                {
                    // Change type to "bar", "area", "spline", "pie",etc.
                    type: "pie",
                    dataPoints: [
                        { label: "FedEx",  y: 10  },
                        { label: "DHL", y: 15  },
                        { label: "UPS", y: 25  },
                        { label: "USPS",  y: 30  }
                    ]
                }
                ]
            });
            chart.render();

            }
      </script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/dashboard.css" />
}

@model List<SummaryItem>

<div class="dashboard-container">
    <div class="dashboard-header">
        <div class="timestamp">
            Last Updated 
            <span class="timestamp-bold">
                <time id="current-time"></time>
            </span>
        </div>
        @* <div class="help-center"> *@
        @*     <i class="bi bi-play-btn-fill"></i> *@
        @* </div> *@
    </div>

    

    <div class="summary-container">
        @foreach (var item in summaryData)
        {
            <div class="summary-item">
                <div class="item-title">
                    @item.Title
                </div>
                <div class="item-content">
                    @foreach (var labelValue in item.LabelValues)
                    {
                        <div class="label-value-block">
                            <div class="item-label">
                                @labelValue.Label
                            </div>
                            <div class="item-value">
                                @labelValue.Value
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    </div>



</div>

<script src="~/js/date-time.js"></script>
<script src="https://cdn.canvasjs.com/canvasjs.min.js">

