@model OrderManagementSystem.Models.PlatformOrder

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PlatformOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label"></label>
                <input asp-for="OrderId" class="form-control" />
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Platform" class="control-label"></label>
                <input asp-for="Platform" class="form-control" />
                <span asp-validation-for="Platform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warehouse_ID" class="control-label"></label>
                <select asp-for="Warehouse_ID" class ="form-control" asp-items="ViewBag.Warehouse_ID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductQuantity" class="control-label"></label>
                <input asp-for="ProductQuantity" class="form-control" />
                <span asp-validation-for="ProductQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Buyer" class="control-label"></label>
                <input asp-for="Buyer" class="form-control" />
                <span asp-validation-for="Buyer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipientPostcode" class="control-label"></label>
                <input asp-for="RecipientPostcode" class="form-control" />
                <span asp-validation-for="RecipientPostcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipientCountry" class="control-label"></label>
                <input asp-for="RecipientCountry" class="form-control" />
                <span asp-validation-for="RecipientCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Store" class="control-label"></label>
                <input asp-for="Store" class="form-control" />
                <span asp-validation-for="Store" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Site" class="control-label"></label>
                <input asp-for="Site" class="form-control" />
                <span asp-validation-for="Site" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingService" class="control-label"></label>
                <input asp-for="ShippingService" class="form-control" />
                <span asp-validation-for="ShippingService" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrackingNumber" class="control-label"></label>
                <input asp-for="TrackingNumber" class="form-control" />
                <span asp-validation-for="TrackingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carrier" class="control-label"></label>
                <input asp-for="Carrier" class="form-control" />
                <span asp-validation-for="Carrier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderTime" class="control-label"></label>
                <input asp-for="OrderTime" class="form-control" />
                <span asp-validation-for="OrderTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentTime" class="control-label"></label>
                <input asp-for="PaymentTime" class="form-control" />
                <span asp-validation-for="PaymentTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedTime" class="control-label"></label>
                <input asp-for="CreatedTime" class="form-control" />
                <span asp-validation-for="CreatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderSource" class="control-label"></label>
                <input asp-for="OrderSource" class="form-control" />
                <span asp-validation-for="OrderSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
