@model OrderMgmtRevision.Models.UserViewModel

<form method="post" asp-action="DeleteConfirmed" asp-controller="UserManagement">
    <input type="hidden" asp-for="Id" />
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
    <button type="submit" class="btn btn-danger">Yes, Delete</button>
</form>