@model OrderMgmtRevision.Models.Warehouse
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<form asp-action="CreateConfirm" asp-controller="WarehousesController" method="post">
    <input type="hidden" asp-for="WarehouseID" />

    <div class="form-group">
        <label asp-for="WarehouseName">@Localizer["Warehouse Name"]</label>
        <input asp-for="WarehouseName" class="form-control" required />
        <span asp-validation-for="WarehouseName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address">@Localizer["Address"]</label>
        <input asp-for="Address" class="form-control" required />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <br />
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        @Localizer["Cancel"]
    </button>
    <button type="submit" class="btn btn-success">
        @Localizer["Create"]
    </button>
</form>
